
<div class="container">
  <h3 class="header-dashboard">Your listings</h3>
  <div class="listings">
    <% @horses.each do |horse| %>
      <div class="card-listing">
        <%= cl_image_tag horse.image, crop: :fill %>
        <div class="card-listing-infos">
            <h2><%= link_to horse.name, horse_path(horse) %></h2>
            <p>Upcoming bookings</p>
              <% if @bookings.nil? %>
                <p>no booking</p>
              <% else %>
                <% horse.bookings.last(3).each do |booking| %>
                   <%= booking.start_date.strftime("%b %e %Y") %>
                    <%= booking.end_date %>,
                    <%= booking.user.email %>,
                    <%= booking.total_price %>
                    <%= booking.status %>
                  <%= link_to 'Accept', confirm_booking_path(booking, status: 'accept'), method: :patch, action: :confirm_booking %>
                  <%= link_to 'Reject', confirm_booking_path(booking, status: 'reject'), method: :patch, action: :confirm_booking %>
                  <br>
                <%end %>
              <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <h3 class="header-dashboard">Your bookings</h3>
  <div class="bookings">
    <%if @bookings.nil? %>
      <p>normal</p>
    <% else %>
      <% @bookings.each do |booking| %>
        <div class="card-listing">
          <%= cl_image_tag booking.horse.image, crop: :fill %>
          <div class="card-listing-infos">
            <p>
              <strong><%= booking.horse.name %></strong>
            <%= booking.start_date %>
            <%= booking.end_date %>
            <%= booking.user.email %>
            <%= booking.total_price %></p>
            <%= booking.status %>
          </div>
        </div>
      <%end %>
    <% end %>
  </div>

</div>



