<div class="simpleform">
  <%= simple_form_for @horse do |f| %>
  <%= f.input :name %>
  <%= f.input :location %>
  <%= f.input :price %>
  <%= f.input :description %>
  <div class="d-flex justify-content-center">
    <%= f.input :image %>
    <%= f.input :image_cache, as: :hidden %>
    <div class="mt-4"style="height: 40px;">
      <%= f.button :submit, class: "btn btn-info" %>
      <% end %>
    </div>
  </div>
</div>

