<div class="simpleform">
  <%= simple_form_for @horse do |f| %>
  <%= f.input :name , label_html: { class: "formlabel" } %>
  <%= f.input :location, label_html: { class: "formlabel" }  %>
  <%= f.input :price, label_html: { class: "formlabel" }  %>
  <%= f.input :description, label_html: { class: "formlabel" }  %>
  <div class="d-flex justify-content-center">
    <%= f.input :image, label_html: { class: "formlabel" }  %>
    <%= f.input :image_cache, as: :hidden, label_html: { class: "formlabel" }  %>
    <div class="mt-4"style="height: 40px;">
      <%= f.button :submit, class: "btn btn-info"%>
      <% end %>
    </div>
  </div>
</div>


