
<% if @horses.empty? %>
<p id="search-message">Found no horses near <%= params[:query] %>.</p>
<% elsif params[:query].present? %>
<p id="search-message">Horses near <%= params[:query] %>...</p>
<% end %>
<div class="cards-container">
  <div class="cards">
    <% @horses.each do |horse| %>
    <div class="card">
      <%= link_to horse_path(horse) do %>
      <%= cl_image_tag horse.image, height: 150 %>
      <% end %>
      <!-- <div class="card-info"> -->
        <div class="card-details mt-2">
          <div class="card-left">
            <h5><%= horse.name %></h5>
            <h5 style="color: rgb(72, 72, 72); line-height: 0.2;"><small><%= horse.location %></small></h5>
            <!-- <h5><small><%= horse.description %></small></h5> -->
          </div>
          <div class="price">
            <h5 style="color: rgb(72, 72, 72);"><small><%= horse.price %>€</small></h5>
          </div>
        </div>
      <!-- </div> -->
    </div>
    <% end %>
  </div>

  <div
  id="map" class="results-map"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<%#= image_tag "map-img.png", alt: "map", id: "map" %>
</div>

