<!-- <div class= "container p-3"> -->
  <div class="card-container">

  <h1 style="text-align: center" class="m-3">Anyone take your <strong>fancy?</strong></h1>
  <div class="row">
    <% @horses.each do |horse| %>
    <div class="card">
      <%= cl_image_tag horse.image, height: 150, crop: :scale %>
      <div class="card-body">
        <h5 class="card-title"><%= horse.name %></h5>
        <p class="card-text">
          <%= horse.location %>
          <br>
          <%= horse.price %> €
        </p>
          <%= link_to 'Show Horse', horse_path(horse), class: "btn btn-flat card-button" %>
      </div>
    </div>
    <% end %>
  </div>
  </div>
<!-- </div> -->
