<h1>Horses#New</h1>

<%= simple_form_for @horse do |f| %>
  <%= f.input :name %>
  <%= f.input :location %>
  <%= f.input :price %>
  <%= f.input :description %>
  <%= f.input :image %>
  <%= f.input :image_cache, as: :hidden %>
  <%= f.button :submit, class: "btn btn-info" %>
<% end %>
</div>
