<div class="banner" style="background-image: url('<%= cl_image_path @horse.image, crop: :scale %>')">
<!-- <div class="horse-photo">
      <%= cl_image_tag @horse.image %>
    </div> -->
  </div>

<!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="horse-photo carousel-item active">
      <%= cl_image_tag @horse.image %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->

  <div class="container content-container">
    <div class="infos mt-2">

    <h1><%= @horse.name %></h1>
    <br>
    <div class="info-perso">
      <div>
        <h4>Owner</h4>
        <p><%= @horse.user.email %></p>
      </div>
<!--         <div class="avatar">
          <%#= image_tag "amine.jpg", alt: "avatar", class: "avatar-large" %>
        </div> -->
      </div>
      <h4>Description</h4>
      <p><%= @horse.description %></p>
      <h4>Price</h4>
      <p><%= @horse.price %> € / day</p>
    </div>

    <div class="location">
      <div class="location-title mb-3">
        <h4>Stationed in
          <%= @horse.location %></h4>
        </div>
        <%#= image_tag "https://s3.eestatic.com/2017/10/11/social/La_Jungla_253487245_50033619_1024x576.jpg", alt: "map", class: "map mt-4" %>
        <!--       <p class="mt-2">Exact location information is provided after a booking is confirmed.</p> -->
            <div
    id="map"
    style="height: 75vh"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
      </div>
    </div>

  <div class="container show-buttons mb-4">

    <div class="container mb-4">
      <% if current_user == @horse.user %>
        <div class="show-buttons">
        </div>
        <%= link_to 'Delete Horse', horse_path(@horse), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-outline-dark mr-2"%>
        <%= link_to 'Edit horse', edit_horse_path(@horse), class: "btn btn-outline-dark"  %>

      <%else %>

        <div class=“booking-form col-sm-12 col-lg-5” style=“padding: 20px;“>
           <h2>Book your horse!</h2>
           <%= simple_form_for [@horse, @booking] do |f|%>
             <%= f.input :start_date, class: 'simple_form_input' %>
             <%= f.input :end_date, class: 'simple_form_input' %>
             <%= f.submit 'Book your horse', class: 'btn'%>
           <% end %>
        </div>
        <%= link_to 'Back', horses_path, class: "btn btn-outline-dark mt-3" %>

      <% end %>
    </div>
   </div>


