 <nav class="navbar navbar-white bg-white" style="border-bottom: 1px solid lightgrey; color: rgb(72, 72, 72);">
  <%= link_to root_path(@horse) do %>
  <h5 class="btn" style="font-size: 16px">
    <i class="fas fa-horse mb-0" style="color: #EE6055; font-size: 24px"></i>GRAB A HORSE
  </h5>
  <% end %>
  <div class="navbar right">
    <%= link_to "Search", root_path, class: "btn"%>
    <%= link_to "List a horse", new_horse_path, class: "btn" %>
    <% if user_signed_in? == false %>
    <%= link_to "Login", new_user_session_path, class: "btn"%>
    <% else %>
    <%= link_to "Dashboard", dashboard_path, class: "btn" %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn"%>
    <% end %>
  </div>
</nav>
