 <nav class="navbar navbar-white bg-white" style="border-bottom: 1px solid lightgrey;">
    <h5>
      <i class="fas fa-horse mb-0" style="color: #EE6055; font-size: 32px"></i>
    GRAB A HORSE</h5>
    <div class="navbar right">
      <%= link_to "Search Horse", horses_path, class: "btn btn-outline-dark mr-2" %>
      <%= link_to "Add Horse", new_horse_path, class: "btn btn-outline-dark mr-2" %>
      <% if user_signed_in? == false %>
        <%= link_to "Login", new_user_session_path, class: "btn"%>
      <% else %>
        <%= link_to "Dashboard", dashboard_path, class: "btn btn-outline-dark mr-2" %>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn"%>
      <% end %>
    </div>
  </nav>
