
<div class= "devise-wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'mountain_h.jpg' %>);">
  <div class="container">
    <div class="wrapper-form p-4 ml-1" style=" width: 400px;">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
        required: false,
        autofocus: true,
        input_html: { autocomplete: "email" } %>
        <%= f.input :password,
        required: false,
        input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
      <div class="form-actions btn-block mb-3">
        <%= f.button :submit, "Log in", class: "btn btn-primary btn-block" %>
      </div>
      <% end %>

      <div class="d-flex justify-content-between">
        <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>


